:root {
    --dark: black;
}


* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    /* big struggle with setting up header, must do "justify content space between" to separate title to left
    and nav buttons to right (this only works for 2 children in parent container) */
    /* if 3 or more children in parent container (header), set header to "justify content flex end" to push 
    everything to the far right, then set margin "right: 0"on child item that you want on the left  */
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(50, 50, 56);
}

.navbar {
    display: flex;
}

.nav-button {
    padding: 40px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

.page-title {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 15px 15px 30px;
    margin-left: 25px;
}

.nav-button {
    transition: all 0.3s ease 0s;
}

.nav-button:hover {
    color: rgb(0, 162, 255);
}

.mission-statement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    color:rgb(151, 0, 0);
    background-image: url(./images/congruent_pentagon.png);
    height: 250px;
}

#about-me {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px 0;
    margin: 20px 0;
}

#about-me h2 {
    margin: 0 60px;
}

#about-me img {
    display: flex;
    justify-content: flex-end;
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin: 0 20px;
}

@media screen and (max-width 786px) {
    .navbar {
        flex-direction: column;
    }
}

@media screen and (max-width 992px) {
    
}